*~
\#*#
.\#*
*.py[co]
*.egg
*.egg-info
build
.installed.cfg
database.db
pip-log.txt
.coverage
.tox
nosetests.xml
*.sw?
venv
*.env
.DS_Store
.fab_tasks~
.tm_properties
.python-version
.webassets-cache
src
.idea
.cache
*.log
.codeintel/
static/gen
